*{
  padding: 0%;
  margin: 0%;
  list-style: none;
}

/* main-title */
/*___________________ */
.section-title {
  display: grid;
  place-items: center;
}
.section-title h2{
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.section-title h2::before,
.section-title h2::after{
  content: '';
  position: absolute;
  bottom: -10px;
  height: 1px;
  width: 150%;
  background-color: white;
  left: 50%;
  transform: translate(-50%,50%);
}
.section-title h2::after{
  width: 75%;
  height: 5px;
  border-radius: 5px;
}
.section-title p{
    line-height: 1.8;
    color: #eee;
    font-size: 1.3rem;
    text-align: center;
  direction: rtl;
}


.info-box svg{
  font-size: 2rem;
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
  padding-top: 50px;
  padding-bottom: 50px;
  background: #18d26e;
  background-color: #3e3e62;
  border-bottom: 1px solid white;
}

.contact .info-box {
  color: #eee;
  text-align: center;
  box-shadow: 0 0 30px #2e2e4a;
  padding: 20px 0 30px 0;
  background: rgba(255, 255, 255, 0);
}

.contact .info-box i {
  font-size: 32px;
  color: #fff;
  text-shadow: 2px 2px 10px 20px white;
  border-radius: 50%;
  padding: 8px;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #eee;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}



@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

